@use "../../app.scss" as *;

.parallax {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1 {
    font-size: 80px;
    color: rgb(212, 234, 167);
    z-index: 3;
    @include mobile{
     font-size: 65px;
     text-align: center;
    }
  }

  .mountains {
    background-image: url("/mountains.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    @include mobile{
      background-size: contain;
      background-repeat: no-repeat;
     }
  }
  .stargate{
    background-image: url('/stargate.svg');
    background-size: cover;
    background-position: top;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
  .planets {
    background-image: url("/planets.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    @include mobile{
      background-size: contain;
      background-repeat: no-repeat;
     }
  }
  .stars {
    background-image: url("/stars.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
