.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132) ;
    position: relative;


        .wrapper{
          
            max-width: 1366px;
            height: 100%;
            margin: auto;


            .textContainer{
                width: 45%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 40px;

                h2{
                    font-size: 30px;
                    color: rebeccapurple;
                    letter-spacing: 10px;
                }
                h1{
                    font-size: 70px;
                }
                .buttons{
                    button{
                        padding: 20px;
                        border: 1px solid white;
                        border-radius: 10px;
                        background-color: transparent;
                        color: white;
                        margin-right: 20px;
                        cursor: pointer;
                        font-weight: 300;
                    }
                }

                img{
                width: 50px;
                }
    
            
            }
           

        }


        .imageContainer{

            display: flex;
            flex-direction: row-reverse;
            height: 99%;
            position: absolute;
            // top: 0;
            bottom: 0;
            right: 10px;    
        }

        .slidingTextContainer{
            width: 50%;
            color: #ffffff15;
            position: absolute;
            font-size: 30vh;
            font-weight: normal;
            bottom: -88px;
            white-space: nowrap;
        }
          .first-image{
            width: 100%;
            aspect-ratio:initial;
            // filter:opacity(35%)  blur(10px);
            // transition: 2s ease;
        
            // cursor: pointer;
          }
        //   .first-image:hover{
           
        //     filter: none;
          
         
        //   }
}