@use "../../app.scss" as *;

.navbar {
  height: 100px;

  .wrapper {
    font-size: 24px;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile{
      justify-content:flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;
      padding-left: 700px;
      padding-right: 20px;
      

      .m-logo {
        
        color: darkred;
        font-size: 28px;
      }
      @include mobile{
        display: none;
      }
    }
    .social{
        display: flex;
        gap: 20px;

        img{
            width: 18px;
            height: 18px;
        }
    }
  }
}
