@use "../../app.scss" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
 
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: #fff;
    z-index: 998;

    @include mobile{
      width: 200px;
      height: 100%;
      background-color: rgba($color: white, $alpha: 0.85);
    }

    .links {
        position: absolute;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        a{
            font-size: 40px;
            @include mobile{
             font-size: 20px;
    
          
            }
        }
    }
  }

  button {
    z-index: 998;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 27px;
    left: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
